- if request.path_info.include? "show/"
  %link{:rel => :stylesheet, :type => :"text/css", :href => url("/styles.css")}
%a{ :name => "#{q.id}"}
%span.listheader Question #{q.id}
- unless request.fullpath.include? "q_to_delete"
  %a.editlinks{ :href => url("/edit/#{q.id}")}
    edit
  %a.editlinks{ :href => "/showall?q_to_delete=#{q.id}##{q.id}"}
    delete

%p{ :class => 'stem'}
  #{q.stem}

- q.choices.each do |ch|
  %p{ :class => 'choices'}
    %input{:type => 'radio'}
      #{ch.content}

- unless q.tags.empty?
  %p{ :class => 'tags'}
    Tags:
    - q.tags.each do |t|
      • #{t.content}

- if request.path_info.include? "show/"
  %p
    %a{ :href => "/add"}
      Add a question
